body {
	color: white;
	font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

.uppercase-text {
	text-transform: uppercase;
}

.white-text {
	color: white;
}

.header-text {
    font-size: 36px;
	padding-bottom: 30px;
}

.big-text {
	font-size: 18px;
}

.normal-text {
	font-size: 14px;
}

.small-text {
	font-size: 12px;
}

.container {
	margin-bottom: 100px;
    margin-top: 30px;
}

#SiteBackground {
	min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.impresso-title {
	margin: 5px;
}

.impresso-title .switzerland-img {
	position: absolute;
    top: 10px;
    margin-left: 5px;
}

.main-block .header-text span {
    display: block;
    font-size: 14px;
}

.main-block .token-bw img {
	margin-top: 70px;
    width: 170px;
}

.main-block .token-bw button{
	display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border: solid white 1px;
    border-radius: 30px;
    background: transparent;
    color: white;

}

.main-block .token-bw button:hover{
    border-color: black;
    background: black;
}

.main-block .token-bw button:focus {
	outline: unset;
}

.main-block .phone .phone-img {
	transform: rotate(351.645deg);
    width: 420px;
}

.main-block .phone .social-icons img {
	margin: 0 5px;
}

#WhyImpresso .header {
	margin-bottom: 50px;
}

#WhyImpresso .list-advantages {
	list-style-type: none;
	padding-left: 0;
}

#WhyImpresso .list-advantages li img {
	width: 25px;
	height: 25px;
	margin: 0 10px;
}

#Features .list-advantages {
	list-style-type: none;
	padding-left: 0;
}

#Features .list-advantages li img {
	width: 25px;
	height: 25px;
	margin: 0 10px;
}

#Features .phones-image {
	margin-top: 25px;
    margin-bottom: 50px;
}
