body {
	color: white;
	font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

.uppercase-text {
	text-transform: uppercase;
}

.lowercase-text {
    text-transform: lowercase;
}

.white-text {
	color: white;
}

.header-text {
    font-size: 36px;
	padding-bottom: 30px;
}

.big-text {
	font-size: 18px;
}

.normal-text {
	font-size: 14px;
}

.small-text {
	font-size: 12px;
}

.bold-text {
	font-weight: bold;
}

.container {
	margin-bottom: 100px;
    margin-top: 30px;
}

#MainBlock {
    margin-top: 70px;
}

#SiteBackground {
	min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

/* header */
.navbar {
    background-color: black;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: #D39AF6;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {   
    border: none;
    outline: none;
    color: white;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn:hover {   
    color: #D39AF6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* main block */
.impresso-title {
	margin: 5px;
}

.impresso-title .switzerland-img {
	position: absolute;
    top: 10px;
    margin-left: 5px;
}

.main-block .header-text span {
    display: block;
    font-size: 14px;
}

.main-block .token-bw img {
	margin-top: 70px;
    width: 170px;
}

.main-block .token-bw button{
	display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border: solid white 1px;
    border-radius: 30px;
    background: transparent;
    color: white;

}

.main-block .token-bw button:hover{
    border-color: black;
    background: black;
}

.main-block .token-bw button:focus {
	outline: unset;
}

.main-block .phone .phone-img {
	transform: rotate(351.645deg);
    width: 420px;
}

.social-icons img {
	margin: 0 5px;
}

#WhyImpresso .header {
	margin-bottom: 50px;
}

#WhyImpresso .list-advantages {
	list-style-type: none;
	padding-left: 0;
}

#WhyImpresso .list-advantages li img {
	width: 25px;
	height: 25px;
	margin: 0 10px;
}

#Features .list-advantages {
	list-style-type: none;
	padding-left: 0;
}

#Features .list-advantages li img {
	width: 25px;
	height: 25px;
	margin: 0 10px;
}

#Features .phones-image {
	margin-top: 25px;
    margin-bottom: 50px;
}

#Whitepaper button, #Bounty button, #Team button, #StayInTouch button{
	display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border: solid white 1px;
    border-radius: 30px;
    background: transparent;
    color: white;

}

#Whitepaper button:hover, #Bounty button:hover, #Team button:hover, #StayInTouch button:hover{
    border-color: black;
    background: black;
}

#Whitepaper button:focus, #Bounty button:focus, #Team button:focus, #StayInTouch button:focus {
	outline: unset;
}

#Partners .carousel-inner img {
	margin-left: auto;
    margin-right: auto;
    height: 200px;
}

#Team img {
	height: 150px;
	border-radius: 100%;
	margin-bottom: 15px;
}

#AsSeenOn .carousel-item img {
    height: 90px;
    display: inline-block!important;
    margin: 0 30px 30px 30px;
}

#AsSeenOn .carousel-item .carousel-group {
	margin-left: auto;
	margin-right: auto;
}